/* main rulz */
* { padding: 0; margin: 0; box-sizing: border-box; }
body {
    background-color: #eee;
    color: #222;
    font-size: 18px;
}

/* reusable */
.center { text-align: center; }
.right { text-align: right; }

.btn {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    padding: 7px 10px;
    background-color: #2980b9;
    color: #f2f2f2;
    margin: 0 10px;
}
.btn:hover, .btn:active { background-color: #206ea1; }

/* left menu */
.left-menu {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 25%;
    color: #eee;
    border-right: 2px solid #444;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(#444, rgb(29, 29, 29));
}

.left-menu .item {
    padding: 5px 20px 5px 10px;
    border-bottom: 2px solid #444;
    cursor: default;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.left-menu .item.selected { background-color: #2980b9; color: #f2f2f2; }
.left-menu .item.downloading { animation: downloading 1s infinite ease-in-out; color: #e74c3c; }
.left-menu .item.selectable { cursor: pointer; }
.left-menu .item.item.selectable:hover { background-color: #ddd; color: #222; }

.left-menu .item .remove {
    position: absolute;
    display: block;
    width: 15px; height: 15px;
    background-color: #e74c3c;
    border-radius: 50%;
    right: 5px;
    opacity: 0.8;
    transition: opacity .2s;
}
.left-menu .item .remove:before {
    content: 'x';
    position: absolute;
    font-size: 14px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
}
.left-menu .item .remove:hover { opacity: 1; }

.left-menu .item p { display: inline-block; margin: 0 10px; }

/* ===================================== */
/* main view */
/* ===================================== */

.main-view {
    position: fixed;
    top: 0; left: 25%; right: 0; bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    padding-top: 150px;
}

/* nav */
.nav {
    position: fixed;
    top: 0;
    left: calc(25%);
    right: 0;
    background-color: rgba(68, 68, 68, 0.7);
    /* box-shadow: 0 5px 20px #222, 5px 0 20px #222, -5px 0 20px #222; */
    z-index: 5;
    /* border-radius: 20px; */
    color: #eee;
}

/* filters box */
.filters-box {
    overflow: hidden;
    border-radius: 10px;
    margin: 25px 20px 30px 20px;
}
.filters-box input {
    float: left;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    outline: none;
}
.filters-box input[type=search] { width: calc(100% - 100px); color: #222; }
.filters-box input[type=submit] {
    width: 100px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #3498db;
    color: #f2f2f2;
}

/* status arrows */
.arrows { position: relative; margin-bottom: 80px; display: block; }
/* .nav:hover .arrows, .nav:focus .arrows { display: block; } */
.arrow-left, .arrow-right {
    display: inline-block;
    position: absolute;
    padding: 10px;
    border: 5px solid #eee;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
}
.arrow-left {
    transform: rotateZ(-45deg);
    left: 100px;
    z-index: 1;
}
.arrow-left:after, .arrow-right:after {
    content: '';
    display: block;
    background-color: currentColor;
    padding: 10px;
    position: absolute;
}
.arrow-right {
    transform: rotateZ(135deg);
    right: 100px;
    z-index: 1;
}
.arrow-center {
    position: absolute;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    z-index: 0;
    cursor: pointer;
}


/* ===================================== */
/* Images Grid */
/* ===================================== */
.grid img {
    width: 100%;
    vertical-align: middle;
    transition: border-width .2s;
}

.grid .imgc { position: relative; overflow: hidden; }

/* view button*/
.grid .viewbtn {
    position: absolute;
    bottom: -40px;
    right: 10px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    color: #eee;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: bottom .5s, opacity .5s;
}

.selector:hover ~ .viewbtn,
img.selected.downloaded:hover ~ .viewbtn,
.viewbtn:hover { bottom: 10px; opacity: 1; }
.grid .viewbtn:hover, .grid .viewbtn:active { background-color: rgba(0, 0, 0, .8); }
.grid .viewbtn i { position: relative; top: 50%; transform: translate(0, -50%) }

/* selector [to prevent click on the image] */
.grid .selector {
    position: absolute;
    top: 0; left: 0;
    width: calc(100% - 70px);
    height: 100%;
    display: block;
}
.grid .selector:after {
    position: absolute;
    content: '';
    top: 0; right: -70px;
    width: 70px;
    height: calc(100% - 40px);
    display: block;
}
.grid .space { display: block; width: 100%; height: 200px; }
.grid .loading {
    position: absolute;
    top: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}
.grid img.selected.downloading { animation: downloading 1s infinite ease-in-out; }

.grid .marker {
    position: absolute;
    top: 10px; left: 10px;
    width: .7em; height: .7em;
    border-radius: 50%;
    background-color: #e74d3c;
    border: 1px solid #222;
    opacity: 0;
    transition: .5s opacity, .5s background-color;
}
.grid .marker.selected { opacity: 1; }
.grid .marker.selected.downloaded { background-color: #3498db; }

/* ===================================== */
/* Dialog */
/* ===================================== */


.dialog-anim-in { animation: dialog-fade .2s; }
.dialog-anim-out { animation: dialog-fade .2s reverse; }

.dialog-container-anim-in { animation: dialog-container-anim .5s; }
.dialog-container-anim-out { animation: dialog-container-anim .5s reverse; }

.dialog {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 10;
}

.dialog .container {
    background-color: #eee;
    color: #222;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    max-height: 90vh;
    overflow-y: auto;
}

.dialog * {
    margin: 10px 0;
    font-size: 20px; font-weight: bold;
}
.dialog .center { text-align: center; }
.dialog .right { float: right; }
.dialog .clearfix:after {
    display: table;
    content: '';
    clear: both;
}
.dialog .title { font-size: 25px; }
.dialog .label { line-height: 40px; }
.dialog input { width: 100%; outline: none; }
.dialog input,
.dialog .options {
    padding: 7px 10px;
    display: block;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    font-size: 18px;
}

.dialog .number { text-align: center; }

.dialog .line {
    display: block;
    width: 100%;
    background-color: #222;
    height: 2px;
    border-radius: 50px;
}


/* Button */
.dialog .btn {
    padding: 7px 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #27ae60;
    color: #f2f2f2;
    cursor: pointer;
    opacity: 0.9;
    width: auto;
    outline: none;
    transition: opacity .2s;
    margin: 5px;
}
.dialog .btn:hover { opacity: 1; }
.dialog .btn.red { background-color: #e74c3c; }
.dialog .btn.yellow { background-color: yellow; color: #222; }
.dialog .btn.blue { background-color: #2980b9; }


/* ===================================== */
/* Image View */
/* ===================================== */

/* animations */
.section-in.imageview.section img { animation: imageview-img .5s ease-in-out; }
.section-out.imageview.section img { animation: imageview-img .5s ease-in-out reverse; }

.imageview.section { background-color: rgba(0, 0, 0, 0.7); }

.imageview img {
    position: fixed;
    width: 70%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 20px;
}

.imageview .left, .imageview .right {
    position: fixed;
    top: 50%;
    border: 7px solid #f2f2f2;
    padding: 20px;
    transform: translate(0, -50%) rotate(45deg);
    cursor: pointer;
    border-radius: 50px;
}
.imageview .left {
    left: 50px;
    border-top-width: 0;
    border-right-width: 0;
}
.imageview .right {
    right: 50px;
    border-bottom-width: 0;
    border-left-width: 0;
}

.imageview .copyright {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    font-size: 20px; font-weight: bold;
    cursor: pointer;
    top: 0; left: 0; right: 0;
    padding: 10px;

    text-align: center;
    overflow: hidden;
}

.imageview .menu {
    position: absolute;
    background-color: transparent;
    top: 50px; bottom: 50px; left: calc(15% - 25px);
    width: 50px;
    text-align: center;
    overflow-y: auto;
}

.imageview .item {
    background-color: #eee;
    width: 40px; height: 40px;
    overflow: hidden;
    display: block;
    margin: 10px auto;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #222;
}
.imageview .item:hover, .imageview .item:active { background-color: #fff; }
.imageview .item i {
    position: absolute;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #222;
}

/* ===================================== */
/* Settings */
/* ===================================== */

.settings.section {
    padding: 20px;
    padding-right: 70px;
    background-color: #444;
    color: #f2f2f2;
}

.settings hr {
    margin: 20px 0;
}

.settings p { padding: 10px; font-size: 20px; font-weight: 600; cursor: default; }

.settings input[type=text] {
    cursor: text;
    outline: none;
    padding: 5px 5px;
    border: none;
    color: #f2f2f2;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
}

/* ===================================== */
/* Sections */
/* ===================================== */

/* animations */
.section-in { animation: section .5s ease-in-out; }
.section-out { animation: section .5s ease-in-out reverse; }

.section {
    background-color: #f2f2f2;
    color: #222;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section .close {
    position: fixed;
    top: 10px; right: 10px;
    padding: 20px;
    cursor: pointer;
    color: #e74c3c;
    font-weight: 700;
    font-size: 50px;
}

/* ===================================== */
/* Animations */
/* ===================================== */

@keyframes downloading {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}
@keyframes section {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes imageview-img {
    0% { transform: translate(-50%, -50%) scale(0); }
    50% { transform: translate(-50%, -50%) scale(1.5); }
    100% { transform: translate(-50%, -50%) scale(1); }
}
@keyframes dialog-fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes dialog-container-anim {
    0% { transform: translate(-50%, -50%) scale(0.1);  }
    50% { transform: translate(-50%, -50%) scale(1.2);  }
    100% { transform: translate(-50%, -50%) scale(1);  }
}
