<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWall Manager</title>
    <link href="./css/fontawesome/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="./css/respo-grid.css" rel="stylesheet" type="text/css">
    <link href="./css/master.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app">

        <x-model ref="model"></x-model>

        <x-settings ref="settings"></x-settings>
        <x-scripts ref="scripts"></x-scripts>

        <x-imageview ref="imageview">
            <span class="item" title="Set Desktop Wallpaper" @click="cmd.view.setCurrentImageAsDesktopWallpaper()">
                <i class="fas fa-desktop"></i>
            </span>
            <span class="item" title="Save Image As" @click="cmd.view.saveCurrentImageAs()">
                <i class="fas fa-save"></i>
            </span>
            <span class="item" title="Copy To Collection" @click="cmd.view.copyImageToCollection()">
                <i class="fas fa-copy"></i>
            </span>
        </x-imageview>

        <div class="left-menu">
            <div class="row flex center">
                <div class="item center selectable col lg-1"
                    style="background-color: #27ae60; color: #f2f2f2;"
                    title="Create new collection"
                    @click="onCollectionCreate"><div><i class="fas fa-plus-circle"></i><p>Create New</p></div>
                </div>
                <div class="item center selectable col"
                    style="background-color: #2980b9; color: #f2f2f2; padding: 5px 0; width: 40px;"
                    title="Scripts"
                    @click="cmd.underdevelopment()"
                    ><i class="fas fa-code"></i>
                </div>
                <div class="item center selectable col"
                    style="background-color: #2d3436; color: #f2f2f2; padding: 5px 0; width: 40px;"
                    title="Settings"
                    @click="cmd.settings.show()"
                    ><i class="fas fa-cog"></i>
                </div>
            </div>
            <div
                v-for="c in memory.collections"
                :key="c.id"
                class="item"
                :class="{selectable: !isCollectionSelected(c.id),
                    selected: isCollectionSelected(c.id),
                    downloading: isDownloading(c)
                }"
                @click="onCollectionSelection(c)"
                @dblclick="onCollectionRename(c)"
            >
                    <span class="remove" @click="onCollectionRemove(c)"></span>
                    <p>{{c.name}}</p>
            </div>
        </div>


        <div class="main-view">
            <div v-if="this.collection">
                <div class="nav">
                    <div class="filters-box">
                        <input type="search" placeholder="Looking For..." v-model="query" @keydown.enter.prevent="() => { page = 1; Pager(); }">
                        <input type="submit" @click="() => { page = 1; Pager(); }" value="Search">
                    </div>
                    <div class="arrows">
                        <span class="arrow-left" @click="DecPage" v-if="pages"></span>
                        <span class="center arrow-center" @click="setPage">{{status}}</span>
                        <span class="arrow-right" @click="IncPage" v-if="pages"></span>
                    </div>
                </div>
                <x-grid :cols="memory.settings.cols" :collection="collection" :web="web" ref="grid" />
            </div>
            <div v-else>
                <h1 class="center">Select collection or create one</h1>
            </div>
        </div>

    </div>

    <!-- javascript and vue.js files -->

    <script src="./js/vue.js"></script>
    <!-- ipc object for in app events -->
    <!-- cmd object for in app commands -->
    <script>const ipc = new Vue(); const cmd = {}; const {shell, ipcRenderer } = require('electron');</script>
    <script src="./js/api.js"></script>
    <script src="./js/downloader.js"></script>
    <script src="./js/desktop.js"></script>
    <script src="./js/utils.js"></script>

    <script src="./js/components/Image.js"></script>
    <script src="./js/components/Grid.js"></script>
    <script src="./js/components/Model.js"></script>
    <script src="./js/components/ImageView.js"></script>
    <script src="./js/components/Settings.js"></script>
    <script src="./js/components/Scripts.js"></script>

    <script src="./js/app.js"></script>
</body>
</html>

